openapi: 3.0.0
info:
  title: Cricket v2
  description: >-
    Sportradar's Cricket API v2 provides real-time scoring, detailed match
    statistics (when available), and an array of supplementary data.


    The API is consistent in structure, format, and behavior with the other
    General Sport APIs. Primary feeds will return schedules, competitions, team
    and player data, and real-time scores.


    Additional feeds provide a host of complimentary stats, including: 


    * Standings

    * Player profiles

    * Team profiles

    * Historical results

    * Match lineups

    * Seasonal statistics

    * Match win probabilities

    * Live pitch and field coordinates


    The easiest way to get started with the API is to click the fork button to
    fork this collection to your own workspace and use Postman to send requests.


    # Overview


    1.  You need a valid API Key to send requests to the API endpoints. You can
    get your free trial key by registering an account and creating an
    application from our [Developer Portal](https://developer.sportradar.com/).

    2.  Once you have your sport specific key, replace the value `{Your API
    Key}` with your API key and click the save icon (or click the Meatballs Menu
    and select "Save")

    3.  By default, responses to every request are sent in JSON. If you prefer
    XML, you can change the variable by clicking the "Variables" tab and
    replacing the Current Value for format to xml.

    4.  Select an endpoint from the Cricket v2 menu on the left, then click
    "Send" on the resulting screen.

    5.  The API calls will respond with appropriate [HTTP response
    codes](https://developer.sportradar.com/docs/read/Home#http-response-codes)
    for all requests. Within Postman Client, when a response is received, the
    status code is highlighted and is accompanied by a help text that indicates
    the possible meaning of the response code. A 200 OK indicates all went well,
    while 4XX or 5XX response codes indicate an error from the requesting client
    or our API servers respectively.

    6.  Data for the requested endpoint is displayed in the Body section below.


    # Other Resources


    The [API
    Map](https://developer.sportradar.com/docs/read/cricket/Cricket_v2#cricket-v2-api-map)
    on our Developer Portal illustrates how to obtain the parameters you will
    need to access the API.


    The [Statistics
    Summary](https://developer.sportradar.com/files/Sportradar_Cricket_v2_Statistics_Summary.pdf)
    provides a high-level overview of all the data points provided within the
    whole API, giving you an “at a glance” view of the data we offer.


    The
    [Documentation](https://developer.sportradar.com/files/Sportradar_Cricket_v2_Statistics_Feeds.pdf)
    provides a list of endpoints for the API with basic descriptions. When
    applicable, we include information on the Coverage Levels provided for the
    API. This document also includes descriptions of each data point and
    information about where each data point can be found within the API.


    [Frequently Asked
    Questions](https://developer.sportradar.com/docs/read/cricket/Cricket_v2#frequently-asked-questions)
    about the API can be found on the Developer Portal and in the Documentation
    mentioned above.


    The [Change
    Log](https://developer.sportradar.com/files/Cricket_v2_API_Change_Log.pdf)
    provides a list of changes and updates to this version of the API since the
    initial release of the API version.


    If you need further information, contact our support team:  

    Email: [support@sportradar.com](mailto:support@sportradar.com)
  version: 1.0.0
servers:
  - url: https://api.sportradar.us/cricket-t2
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: query      
      name: api_key
security:
  - apikeyAuth: []
paths:
  /{locale}/schedules/live/schedule.{format}:
    get:
      tags:
        - default
      summary: Daily Live Schedule
      description: Provides scheduled match information for all matches being played live.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/schedules/{date}/results.{format}:
    get:
      tags:
        - default
      summary: Daily Results
      description: Provides a summary of all matches played on a given day.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: date
          in: path
          schema:
            type: string
          required: true
          description: (Required) Year-Month-Day (YYYY-MM-DD)
          example: '2021-09-01'
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/schedules/{date}/schedule.{format}:
    get:
      tags:
        - default
      summary: Daily Schedule
      description: Provides schedule information for all matches played on a given day.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: date
          in: path
          schema:
            type: string
          required: true
          description: (Required) Year-Month-Day (YYYY-MM-DD)
          example: '2021-09-25'
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/matches/{urn_sport_event}/lineups.{format}:
    get:
      tags:
        - default
      summary: Match Lineups
      description: Provides lineups and batting order for a given match.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: urn_sport_event
          in: path
          schema:
            type: string
          required: true
          description: (Required) Sport Event URN (sr:sport_event:x)
          example: sr:match:28669992
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/matches/{urn_sport_event}/probabilities.{format}:
    get:
      tags:
        - default
      summary: Match Probabilities
      description: >-
        Provides 2-way probabilities (home team win, away team win) for a given
        match.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: urn_sport_event
          in: path
          schema:
            type: string
          required: true
          description: (Required) Sport Event URN (sr:sport_event:x)
          example: sr:match:29773914
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/matches/{urn_sport_event}/summary.{format}:
    get:
      tags:
        - default
      summary: Match Summary
      description: >-
        Provides real-time match-level statistics for a given match. Including
        results and player and team stats. Please note that data returned is
        determined by coverage level.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: urn_sport_event
          in: path
          schema:
            type: string
          required: true
          description: (Required) Sport Event URN (sr:sport_event:x)
          example: sr:match:29773914
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/matches/{urn_sport_event}/timeline.{format}:
    get:
      tags:
        - default
      summary: Match Timeline
      description: >-
        Provides real-time match-level statistics and a play-by-play event
        timeline for a given match. This includes player and team stats, scoring
        info, batting and bowling parameters, and human-readable event
        descriptions. Please note that data returned is determined by coverage
        level.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: urn_sport_event
          in: path
          schema:
            type: string
          required: true
          description: (Required) Sport Event URN (sr:sport_event:x)
          example: sr:match:29773914
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/matches/{urn_sport_event}/timeline/delta.{format}:
    get:
      tags:
        - default
      summary: Match Timeline (delta)
      description: >-
        This endpoint retrieves the Match Timeline delta. During a live match,
        the timeline delta provides all the same data as the match timeline
        feed, but in 5 minute increments.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: urn_sport_event
          in: path
          schema:
            type: string
          required: true
          description: (Required) Sport Event URN (sr:sport_event:x)
          example: sr:match:29773914
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/players/{player_id}/profile.{format}:
    get:
      tags:
        - default
      summary: Player Profile
      description: >-
        Provides player information, including current and historical team
        membership info, and statistics broken down by match format.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: player_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a player
          example: sr:player:646278
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/teams/{team_id}/profile.{format}:
    get:
      tags:
        - default
      summary: Team Profile
      description: Provides team information and statistics by season.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: team_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a team
          example: sr:competitor:107203
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/teams/{team_id}/results.{format}:
    get:
      tags:
        - default
      summary: Team Results
      description: >-
        Provides match info and statistics for the past 10 matches for a given
        team.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: team_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a team
          example: sr:competitor:107203
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/teams/{team_id}/schedule.{format}:
    get:
      tags:
        - default
      summary: Team Schedule
      description: Provides match schedule information for a given team.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: team_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a team
          example: sr:competitor:152316
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/teams/{team_id}/versus/{team_id_2}/matches.{format}:
    get:
      tags:
        - default
      summary: Team Vs Team
      description: >-
        Provides previous and upcoming meetings between two teams including
        results.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: team_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a team
          example: sr:competitor:107203
        - name: team_id_2
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a team
          example: sr:competitor:142690
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tours.{format}:
    get:
      tags:
        - default
      summary: Tour List
      description: Provides a list of all available Cricket Tours.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tours/{tour_id}/schedule.{format}:
    get:
      tags:
        - default
      summary: Tour Schedule
      description: Provides all scheduled matches for a tour.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: tour_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a tour
          example: sr:tour:21692
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tournaments/{tournament_id}/info.{format}:
    get:
      tags:
        - default
      summary: Tournament Info
      description: >-
        Provides information for a given tournament or season, including current
        season, participating teams, and tournament structure.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: tournament_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a tournament
          example: sr:tournament:2472
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tournaments/{tournament_id}/leaders.{format}:
    get:
      tags:
        - default
      summary: Tournament Leaders
      description: >-
        Provides a list of leaders in a given tournament or season for top runs,
        top average, top wickets, top bowling average, top economy, and top
        catches.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: tournament_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a tournament
          example: sr:tournament:23423
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tournaments.{format}:
    get:
      tags:
        - default
      summary: Tournament List
      description: Provides a list of all available Cricket Tournaments.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tournaments/{tournament_id}/results.{format}:
    get:
      tags:
        - default
      summary: Tournament Results
      description: Provides results for all matches within a given tournament or season.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: tournament_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a tournament
          example: sr:tournament:23423
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tournaments/{tournament_id}/schedule.{format}:
    get:
      tags:
        - default
      summary: Tournament Schedule
      description: >-
        Provides scheduling information for all matches within a given
        tournament or season.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: tournament_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a tournament
          example: sr:tournament:23423
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tournaments/{tournament_id}/seasons.{format}:
    get:
      tags:
        - default
      summary: Tournament Seasons
      description: >-
        Provides a list of current and past season IDs for a given tournament.
        Season IDs can be interchanged with tournament IDs to retrieve
        historical data.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: tournament_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a tournament
          example: sr:tournament:23423
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tournaments/{tournament_id}/teams/{team_id}/squads.{format}:
    get:
      tags:
        - default
      summary: Tournament Squads
      description: Provides squad lineups for a given tournament or season.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: tournament_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a tournament
          example: sr:tournament:2472
        - name: team_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a team
          example: sr:competitor:152316
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{locale}/tournaments/{tournament_id}/standings.{format}:
    get:
      tags:
        - default
      summary: Tournament Standings
      description: Provides detailed standings info for a given season.
      parameters:
        - name: locale
          in: path
          schema:
            type: string
          required: true
          description: (Required) Locale used for translations
          example: en
        - name: tournament_id
          in: path
          schema:
            type: string
          required: true
          description: (Required) ID of a tournament
          example: sr:tournament:14892
        - name: format
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
